
@media screen and (min-width: 600px) {
  .src_demo-19 {
    color: lightseagreen
  }
}


@media screen and (min-width: 800px) {
  .src_demo-19-1 {
    color: royalblue
  }
}


@media screen and (min-width: 1024px) {
  .src_demo-19-2 {
    color: coral
  }
}

.src_effects-8 { color: red; }
.src_effects-8-hover:hover { color: red; }
.box {width: 500px;
margin: 20px auto;
padding: 20px}
.src_demo-9 {font-size: 43px;
letter-spacing: -.07em}

  .src_effects-10-hover:hover {
    animation: src_effects-10-hover 1s infinite;
  }

  @keyframes src_effects-10-hover {
    0% { opacity: 1; }
    50% { opacity: .5; }
  }
  
.src_demo-9-1 {font-size: 24px}
.src_demo-9-2 {font-size: 17px}
@import url("./theme.css");
.src_demo-5 {box-shadow: 1px 1px 5px #000}
.src_demo-51 {font-weight: 800}